.product-details-container {
    display: flex;
    gap: 30px;
    padding: 40px;
  }
  
  .product-details-left img {
    width: 350px;
    border-radius: 10px;
  }
  
  .product-details-right {
    flex: 1;
  }
  
  .product-details-right h2 {
    margin-bottom: 10px;
  }
  
  .product-details-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  