.hero2-section {
    background: linear-gradient(to bottom, #fff7f9, #f8faff);
    height:50vh;
  }
  
  .hero2-title {
    font-family: "Delius", cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #3b3b3b;
  }
  
  .hero2-subtitle {
    font-size: 1.1rem;
    color: #666;
    margin-top: 10px;
    font-family: "Quicksand", sans-serif;
  }
  
  .category-card {
    transition: all 0.4s ease;
  }
  
  .category-card:hover {
    transform: translateY(-8px);
  }
  
  .category-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .category-img:hover {
    transform: scale(1.07);
  }
  
  .category-text {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3b3b3b;
    font-family: "Quicksand", sans-serif;
  }